* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 75vw;
    height: 75vh;
}

.square {
    border: 3px solid black;
}